.card {
    box-shadow: 0 4px 8px 0 white;
    transition: 0.3s;
    width:200px;
    background-color: #fafafa;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 10px 16px;
    color: black;
    border-radius: 10px;
    }
    
    .button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

.userlist{
    gap: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}